<!DOCTYPE html>
<html lang="kr">
<head>
    <script data-ad-client="ca-pub-1491207752842955" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GHMXRFTM9Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GHMXRFTM9Z');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beyond Stock</title>
    <link rel="stylesheet" href="../../resources/assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="../../resources/assets/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="../asssets/images/favicon.ico" />
    <meta property="og:url"                content="http://beyondstock.net" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Beyond Stock" />
    <meta property="og:description"        content="우리는 강에 떠 있으면 바다로 간다." />
    <meta property="og:image"              content="http://beyondstock.net:8000/ogimage.PNG" />
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" class="header-fixed">
<!-- partial:partials/_header.html -->
<nav class="t-header">
    <div class="t-header-brand-wrapper">
        <a href="/">
            <img class="logo-mini" src="../../resources/assets/images/logo_mini.svg" alt="">
        </a>
    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
                <i class="mdi mdi-menu"></i>
            </button>
            <ul class="nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-message-outline mdi-1x"></i>
                        <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="messageDropdown">
                        <div class="dropdown-header">
                            <h6 class="dropdown-title"><b>후원 및 기타문의</b></h6>
                            <p class="dropdown-title-text">본 싸이트의 컨텐츠가 투자에 도움이 되신다면</p>
                            <p class="dropdown-title-text">장기적 운영 및 신규컨텐츠 개발을 위해</p>
                            <p class="dropdown-title-text">작은 후원을 부탁드립니다.</p>
                        </div>
                        <div class="dropdown-body">
                            <div class="dropdown-list">
                                <div class="image-wrapper">
                                    <img class="profile-img" src="../../resources/assets/images/hotmail.png" alt="email">
                                    <div class="status-indicator rounded-indicator bg-success"></div>
                                </div>
                                <div class="content-wrapper">
                                    <small class="name">Email</small><br>
                                    <small class="content-text">beyondstock@hotmail.com</small>
                                </div>
                            </div>
                            <div class="dropdown-list">
                                <div class="image-wrapper">
                                    <img class="profile-img" src="../../resources/assets/images/kb1.jpg" alt="KB국민은행">
                                    <div class="status-indicator rounded-indicator bg-success"></div>
                                </div>
                                <div class="content-wrapper">
                                    <small class="name">KB국민은행</small><br>
                                    <small class="content-text">394402-04-400611</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- partial -->
<div class="page-body">
<!--
     partial:partials/_sidebar.html
-->
    <div class="sidebar">
        <ul class="navigation-menu">
            <li class="nav-category-divider">MAIN</li>
            <li>
                <a href="../">
                    <span class="link-title">Home</span>
                    <i class="mdi mdi-gauge link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../rim">
                    <span class="link-title">RIM</span>
                    <i class="mdi mdi-flask link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../persector">
                    <span class="link-title">RIM per Sector</span>
                    <i class="mdi mdi-flask-empty-outline link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../trend" >
                    <span class="link-title">Profit Verification</span>
                    <i class="mdi mdi-bullseye link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../lowper">
                    <span class="link-title">Low PER</span>
                    <i class="mdi mdi-clipboard-outline link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../consensus">
                    <span class="link-title">Consensus</span>
                    <i class="mdi mdi-chart-donut link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../whobuy">
                    <span class="link-title">Buy&Sell</span>
                    <i class="mdi mdi-flower-tulip-outline link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../faq">
                    <span class="link-title">FAQ</span>
                    <i class="mdi mdi-asterisk link-icon"></i>
                </a>
            </li>
            <br>
<!--            <div class="grid-body">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-tTRasTdJ1TaBukMA"
                     data-ad-width   = "160"
                     data-ad-height  = "600"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
            </div>-->
<!--            <div class="sidebar-upgrade-banner"></div>
            <div class="grid-body">

                <div class="split-header">
                    <p class="text-primary"><b>후원 및 기타문의</b></p>
                </div>
                <div class="item-wrapper" style="font-size: 12px;">
                    <p class="text-gray">beyondstock@hotmail.com</p>
                    <p class="text-gray">KB국민은행</p>
                    <p class="text-gray">394402-04-400611</p>
                </div>
            </div>-->
        </ul>
    </div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="content-viewport">
<!--                <div class="row">
                    <div class="col-lg-12">
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-DUeVKOaEbWBkcsqO"
                             data-ad-width   = "320"
                             data-ad-height  = "100"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

                    </div>
                </div>-->
                <div class="row">
                    <div class="col-lg-12">

                    <div class="grid">
                        <div class="grid-body">
                            <h2 class="grid-title">Consensus 변동(2021/12(E) 기준)</h2>
                            <div class="item-wrapper" style="font-size: 12px;">
                                <p>각 증권사의 애널리스트들은 리포트를 통해서 연간, 분기별 컨센서스를 예측합니다.</p>
                                <p>이 지표들은 실적 발표를 하기 전까지 변동이 가능한 지표로, 실적이 상승하거나 하향될 것으로 예측될 때 이 방향성을 체크할 수 있다면 적절한 투자 타이밍을 잡을 수 있을 것입니다.</p>
                                <p>또한 신규로 컨센서스가 나오는 경우, 즉 증권사에서 신규로 커버리지하는 경우 해당 종목은 향후 좋은 주가흐름을 나타낼 확률이 높습니다.</p>
                                <p>각 투자자들은 컨센서스의 변화가 나오는 주식들을 잘 모니터링하여 수익률을 극대화하기 바랍니다. 해당 데이터는 매월 초 컨센서스 대비 변경된 내역을 매일 집계하여 보여 줍니다.</p>
                            </div>
                            <br>
                            <div class="item-wrapper" style="font-size: 13px;">
                                <p>Analysts of each securities firm use reports to forecast annual and quarterly consensus.</p>
                                <p>These indicators are subject to change until the performance is announced, and if you can check this direction when performance is expected to rise or fall, you will be able to set the appropriate investment timing.</p>
                                <p>In addition, if a new consensus comes out, that is, if a securities company newly covers it, the stock is likely to show good share price flow in the near future.</p>
                                <p>Each investor is encouraged to maximize returns by monitoring stocks where the consensus changes. This data shows daily aggregated changes against the consensus at the beginning of each month.</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

<!--                <div class="row">
                    <div class="col-lg-12">
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-5BMUl4W0U78VwNiS"
                             data-ad-width   = "320"
                             data-ad-height  = "100"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
                    </div>
                </div>-->
        <div class="row">
            <div class="col-lg-12">
                <div class="grid">
                        <div class="grid-body">
                            <div class="item-wrapper">
                                <div class="demo-wrapper">
                                    <div class="btn-group mb-0" data-toggle="buttons">
                                        <label class="btn btn-outline-info active">
                                            <input type="radio" name="chk_info" value="up" id="up" checked onchange="func_checked('up')">컨센서스 상향
                                        </label>
                                        <label class="btn btn-outline-info">
                                            <input type="radio" name="chk_info" value="down" id="down" onchange="func_checked('down')">컨센서스 하향
                                        </label>
                                        <label class="btn btn-outline-info">
                                            <input type="radio" name="chk_info" value="new" id="new" onchange="func_checked('new')">신규 커버리지
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="item-wrapper">
                        <div class="table-responsive">
                            <table class="table info-table table-striped">
                                <thead>
                                <tr>
                                    <th rowspan="2">종목명</th>
                                    <th colspan="4">PREV</th>
                                    <th colspan="4">CURRENT</th>
                                </tr>
                                <tr>
                                    <th>매출</th>
                                    <th>영업이익</th>
                                    <th>순이익</th>
                                    <th>PER</th>
                                    <th>매출</th>
                                    <th>영업이익</th>
                                    <th>순이익</th>
                                    <th>PER</th>
                                </tr>
                                </thead>
                                <tbody id = 'get_q6'>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--                <div class="row">
                    <div class="col-lg-12">
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-xUvlPPHjQXnmY3Dx"
                             data-ad-width   = "320"
                             data-ad-height  = "100"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
                    </div>
                </div>-->
            </div>
        </div>
        <footer class="footer">
            <div class="row">
                <div class="col-sm-12 text-center text-sm-right mt-3 mt-sm-0">
                    <small class="text-muted d-block">모든 투자에 대한 책임은 투자자 본인에게 있으며 본 페이지의 정보는 투자에 참고만 하시기 바랍니다. Copyright © 2020 All rights reserved</small>
<!--                    <small class="text-muted d-block">Copyright © 2019 <a href="http://www.uxcandy.co" target="_blank">UXCANDY</a>. All rights reserved</small>-->
<!--                    <small class="text-gray mt-2">Handcrafted With <i class="mdi mdi-heart text-danger"></i></small>-->
                </div>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- page content ends -->
</div>
<!--page body ends -->
<!-- SCRIPT LOADING START FORM HERE /////////////-->
<!-- plugins:js -->
<script src="../../resources/assets/vendors/js/core.js"></script>
<!-- endinject -->
<!-- Vendor Js For This Page Ends-->
<script src="../../resources/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="../../resources/assets/vendors/chartjs/Chart.min.js"></script>
<script src="../../resources/assets/js/charts/chartjs.addon.js"></script>
<!-- Vendor Js For This Page Ends-->
<!-- build:js -->
<script src="../../resources/assets/js/template.js"></script>
<script src="../../resources/assets/js/dashboard.js"></script>
<script src="../../resources/assets/js/consensus_output.js"></script>
<!-- endbuild -->
</body>
</html>