<!DOCTYPE html>
<html lang="en">
  <head>
    <script data-ad-client="ca-pub-1491207752842955" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GHMXRFTM9Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GHMXRFTM9Z');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beyond Stock</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../resources/assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="../../resources/assets/css/demo_1/style.css">
    <!-- Layout style -->
    <!--<link rel="shortcut icon" href="../resources/asssets/images/favicon.ico" />-->
    <!--<link rel="stylesheet" href="../../resources/assets/scss/shared/chart_tab.css">-->
    <meta property="og:url"                content="http://beyondstock.net" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Beyond Stock" />
    <meta property="og:description"        content="우리는 강에 떠 있으면 바다로 간다." />
    <meta property="og:image"              content="http://beyondstock.net:8000/ogimage.PNG" />
  </head>
  <body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" class="header-fixed">
      <!-- partial:partials/_header.html -->
    <nav class="t-header">
      <div class="t-header-brand-wrapper">
        <a href="/">
<!--          <img class="logo" src="../../resources/assets/images/logo.svg" alt="">-->
          <img class="logo-mini" src="../../resources/assets/images/logo_mini.svg" alt="">
        </a>
      </div>
      <div class="t-header-content-wrapper">
        <div class="t-header-content">
          <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
            <i class="mdi mdi-menu"></i>
          </button>
          <ul class="nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-message-outline mdi-1x"></i>
                <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
              </a>
              <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="messageDropdown">
                <div class="dropdown-header">
                  <h6 class="dropdown-title"><b>후원 및 기타문의</b></h6>
                  <p class="dropdown-title-text">본 싸이트의 컨텐츠가 투자에 도움이 되신다면</p>
                  <p class="dropdown-title-text">장기적 운영 및 신규컨텐츠 개발을 위해</p>
                  <p class="dropdown-title-text">작은 후원을 부탁드립니다.</p>
                </div>
                <div class="dropdown-body">
                  <div class="dropdown-list">
                    <div class="image-wrapper">
                      <img class="profile-img" src="../../resources/assets/images/hotmail.png" alt="email">
                      <div class="status-indicator rounded-indicator bg-success"></div>
                    </div>
                    <div class="content-wrapper">
                      <small class="name">Email</small><br>
                      <small class="content-text">beyondstock@hotmail.com</small>
                    </div>
                  </div>
                  <div class="dropdown-list">
                    <div class="image-wrapper">
                      <img class="profile-img" src="../../resources/assets/images/kb1.jpg" alt="KB국민은행">
                      <div class="status-indicator rounded-indicator bg-success"></div>
                    </div>
                    <div class="content-wrapper">
                      <small class="name">KB국민은행</small><br>
                      <small class="content-text">394402-04-400611</small>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- partial -->
    <div class="page-body">
      <!-- partial:partials/_sidebar.html -->
      <div class="sidebar">
        <ul class="navigation-menu">
          <li class="nav-category-divider">MAIN</li>
          <li>
            <a href="../">
              <span class="link-title">Home</span>
              <i class="mdi mdi-gauge link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../rim">
              <span class="link-title">RIM</span>
              <i class="mdi mdi-flask link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../persector">
              <span class="link-title">RIM per Sector</span>
              <i class="mdi mdi-flask-empty-outline link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../trend" >
              <span class="link-title">Profit Verification</span>
              <i class="mdi mdi-bullseye link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../lowper">
              <span class="link-title">Low PER</span>
              <i class="mdi mdi-clipboard-outline link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../consensus">
              <span class="link-title">Consensus</span>
              <i class="mdi mdi-chart-donut link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../whobuy">
              <span class="link-title">Buy&Sell</span>
              <i class="mdi mdi-flower-tulip-outline link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../faq">
              <span class="link-title">FAQ</span>
              <i class="mdi mdi-asterisk link-icon"></i>
            </a>
          </li>
          <br>
<!--          <div class="grid-body">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-tTRasTdJ1TaBukMA"
                 data-ad-width   = "160"
                 data-ad-height  = "600"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
          </div>-->
<!--          <div class="sidebar-upgrade-banner"></div>
          <div class="grid-body">

            <div class="split-header">
              <p class="text-primary"><b>후원 및 기타문의</b></p>
            </div>
            <div class="item-wrapper" style="font-size: 12px;">
              <p class="text-gray">beyondstock@hotmail.com</p>
              <p class="text-gray">KB국민은행</p>
              <p class="text-gray">394402-04-400611</p>
            </div>
          </div>-->
        </ul>
      </div>

      <!-- partial -->
      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-12 py-5">
                <h4>Beyond Stock</h4>
                <p class="text-gray">우리는 강에 떠 있으면 바다로 간다.</p>
                <p class="text-gray">*지수 및 ADR을 제외한 모든 데이터는 19시 이후에 daily로 업데이트됩니다.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6 col-6 equel-grid">
                <div class="grid">
                  <div class="grid-body text-gray">
                    <div class="d-flex justify-content-between">
                      <p id="kospi_close"></p>
                      <p id="kospi_rate"></p>
                    </div>
                    <p class="text-black" id="kospi_gubun"></p>
                    <p class="text-gray" id="kospi_cdate"></p>
                    <div class="wrapper w-50 mt-4">
                      <canvas height="45" id="stat-line_1"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6 equel-grid">
                <div class="grid">
                  <div class="grid-body text-gray">
                    <div class="d-flex justify-content-between">
                      <p id="kosdaq_close"></p>
                      <p id="kosdaq_rate"></p>
                    </div>
                    <p class="text-black" id="kosdaq_gubun"></p>
                    <p class="text-gray" id="kosdaq_cdate"></p>
                    <div class="wrapper w-50 mt-4">
                      <canvas height="45" id="stat-line_2"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-md-3 col-sm-6 col-6 equel-grid">
                <div class="grid">
                  <div class="grid-body text-gray">
                    <div class="d-flex justify-content-between">
                      <p id="dow_close"></p>
                      <p id="dow_rate"></p>
                    </div>
                    <p class="text-black" id="dow_gubun"></p>
                    <p class="text-gray" id="dow_cdate"></p>
                    <div class="wrapper w-50 mt-4">
                      <canvas height="45" id="stat-line_3"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6 equel-grid">
                <div class="grid">
                  <div class="grid-body text-gray">
                    <div class="d-flex justify-content-between">
                      <p id="nasdaq_close"></p>
                      <p id="nasdaq_rate"></p>
                    </div>
                    <p class="text-black" id="nasdaq_gubun"></p>
                    <p class="text-gray" id="nasdaq_cdate"></p>
                    <div class="wrapper w-50 mt-4">
                      <canvas height="45" id="stat-line_4"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

<!--            <div class="row">
              <div class="col-lg-12">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-5BMUl4W0U78VwNiS"
                     data-ad-width   = "320"
                     data-ad-height  = "100"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
              </div>
            </div>-->

            <div class="row">

              <div class="col-lg-12">
                <div class="grid">
                  <div class="grid-body">
                    <div class="split-header">
                      <p class="card-title"><b>각 지수별 Performance(%)</b></p>
                    </div>
                  </div>
                    <div>
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#bar_1w" aria-controls="home" role="tab" data-toggle="tab" class="nav-tab">1W</a></li>
                        <li role="presentation" ><a href="#bar_1m" aria-controls="profile" role="tab" data-toggle="tab" class="nav-tab">1M</a></li>
                        <li role="presentation" ><a href="#bar_3m" aria-controls="profile" role="tab" data-toggle="tab" class="nav-tab">3M</a></li>
                        <li role="presentation" ><a href="#bar_6m" aria-controls="profile" role="tab" data-toggle="tab" class="nav-tab">6M</a></li>
                        <li role="presentation" ><a href="#bar_1y" aria-controls="profile" role="tab" data-toggle="tab" class="nav-tab">1Y</a></li>
                        <li role="presentation" ><a href="#bar_2y" aria-controls="profile" role="tab" data-toggle="tab" class="nav-tab">2Y</a></li>
                        <li role="presentation" ><a href="#bar_3y" aria-controls="profile" role="tab" data-toggle="tab" class="nav-tab">3Y</a></li>
                        <li role="presentation" ><a href="#bar_5y" aria-controls="profile" role="tab" data-toggle="tab" class="nav-tab">5Y</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="col-md-8 tab-pane active" id="bar_1w">
                          <div class="grid">
                            <div class="grid-body">
                              <h2 class="grid-title">1 Week</h2>
                              <div class="item-wrapper">
                                <canvas id="chartjs-bar-chart_1w" width="1200" height="400"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 tab-pane" id="bar_1m">
                          <div class="grid">
                            <div class="grid-body">
                              <h2 class="grid-title">1 Month</h2>
                              <div class="item-wrapper">
                                <canvas id="chartjs-bar-chart_1m" width="600" height="400"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 tab-pane" id="bar_3m">
                          <div class="grid">
                            <div class="grid-body">
                              <h2 class="grid-title">3 Month</h2>
                              <div class="item-wrapper">
                                <canvas id="chartjs-bar-chart_3m" width="600" height="400"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 tab-pane" id="bar_6m">
                          <div class="grid">
                            <div class="grid-body">
                              <h2 class="grid-title">6 Month</h2>
                              <div class="item-wrapper">
                                <canvas id="chartjs-bar-chart_6m" width="600" height="400"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 tab-pane" id="bar_1y">
                          <div class="grid">
                            <div class="grid-body">
                              <h2 class="grid-title">1 Year</h2>
                              <div class="item-wrapper">
                                <canvas id="chartjs-bar-chart_1y" width="600" height="400"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 tab-pane" id="bar_2y">
                          <div class="grid">
                            <div class="grid-body">
                              <h2 class="grid-title">2 Year</h2>
                              <div class="item-wrapper">
                                <canvas id="chartjs-bar-chart_2y" width="600" height="400"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 tab-pane" id="bar_3y">
                          <div class="grid">
                            <div class="grid-body">
                              <h2 class="grid-title">3 Year</h2>
                              <div class="item-wrapper">
                                <canvas id="chartjs-bar-chart_3y" width="600" height="400"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 tab-pane" id="bar_5y">
                          <div class="grid">
                            <div class="grid-body">
                              <h2 class="grid-title">5 Year</h2>
                              <div class="item-wrapper">
                                <canvas id="chartjs-bar-chart_5y" width="600" height="400"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>

<!--            <div class="row">
              <div class="col-lg-12">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-BAjlxQBpq6fnl9Gs"
                     data-ad-width   = "320"
                     data-ad-height  = "100"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
              </div>
            </div>-->

            <div class="row">

            <div class="col-lg-8">
                    <div class="grid">
                      <div class="grid-body">
                        <div class="split-header">
                          <p class="card-title"><b>신용 및 예탁금 추이<span class="grid-title">(단위 : 억원)</span></b>
<!--                            <a href="credit">-->
<!--                            <span class="link-title">credit chart</span>-->
<!--                            <i class="mdi link-icon"></i>-->
<!--                            </a></p>-->
                        </div>
                      </div>
                      <div class="item-wrapper">
                        <div class="table-responsive">
                          <table class="table info-table table-bordered">
                            <thead>
                            <tr>
                              <th>Date</th>
                              <th>예탁금</th>
                              <th>예탁금_증감</th>
                              <th>신용</th>
                              <th>신용_증감</th>
                            </tr>
                            </thead>
                            <tbody id = 'get_credit'>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="col-lg-4">
                <div class="grid">
                  <div class="grid-body">
                    <div class="split-header">
                      <p class="card-title "><b>시장별 PER, PBR</b></p>
                    </div>
                    <div class="item-wrapper" style="font-size: 12px;">
                      <p class="text-gray">PER : 시총합계 / 최근 4분기 지배주주순익 합산</p>
                      <p class="text-gray">PBR : 시총합계 / 최근 1분기 지배주주지분 합산</p>
                    </div>
                  </div>
                  <div class="item-wrapper">
                    <div class="table-responsive">
                      <table class="table info-table table-bordered">
                        <thead>
                        <tr>
                          <th>Market</th>
                          <th>PER</th>
                          <th>PBR</th>
                        </tr>
                        </thead>
                        <tbody id = 'get_market'>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
<!--
            <div class="row">
              <div class="col-lg-12">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-vhCIK2QPH7WvCYC0"
                 data-ad-width   = "320"
                 data-ad-height  = "50"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
              </div>
            </div>-->

            <div class="row">

            <div class="col-md-8 equel-grid">
                <div class="grid">
                  <div class="grid-body">
                    <div class="split-header">
                      <p class="card-title"><b>월간 중요 증시 일정(하나금융투자 증시캘린더 기준)<span class="grid-title">(2021.01)</span></b></p>
                    </div>
                    <div class="vertical-timeline-wrapper">
                      <div class="timeline-vertical dashboard-timeline">
                        <div class="activity-log">
                          <p class="log-name">OPEC+ 회의</p>
                          <div class="log-details">이번 회의에서 2월 산유량 등 결정할 예정. OPEC+ 석유장관들은 앞으로 매월 회의를 열어 그 다음달 생산량 등을 결정할 예정</div>
                          <small class="log-time">01/04</small>
                        </div>
                        <div class="activity-log">
                          <p class="log-name">삼성전자 잠정실적</p>
                          <div class="log-details">원화 강세 영향으로 4분기 잠정 영업이익 10조원을 소폭 하회할 것으로 추정</div>
                          <small class="log-time">01/07</small>
                        </div>
                        <div class="activity-log">
                          <p class="log-name">CES, JP모건 헬스케어 컨퍼런스(~14)</p>
                          <div class="log-details">CES의 비주류였던 기후변화, 환경을 비롯한 ESG와 전기차 기술 등에 주목<br>미국임상종양학회(ASCO)와 더불어 가장 영향력 있는 헬스케어 컨퍼런스로 꼽힘</div>
                          <small class="log-time">01/11~14</small>
                        </div>
                        <div class="activity-log">
                          <p class="log-name">옵션만기일</p>
                          <div class="log-details">매월 두번째 목요일</div>
                          <small class="log-time">01/14</small>
                        </div>
                        <div class="activity-log">
                          <p class="log-name">한국 금융통화위원회 </p>
                          <div class="log-details">지난 회의에서 기준금리 연 0.5% 동결<br>올해 경제성장률은 수출 및 설비투자 개선에 기인해 3.0%로 기존대비 0.2%p 상향한 바 있음</div>
                          <small class="log-time">01/15</small>
                        </div>
                        <div class="activity-log">
                          <p class="log-name">미국 제 46대 대통령 취임식</p>
                          <div class="log-details"> 조 바이든 대통령 당선인의 취임식으로 바이든 미국 행정부 공식 출범</div>
                          <small class="log-time">01/20</small>
                        </div>

                        <div class="activity-log">
                          <p class="log-name">ECB 통화정책위원회</p>
                          <div class="log-details">지난 회의에서 기준금리 0%로 동결<br>긴급채권 매입규모 5,000억유로 확대. 순매입기간은 22년 3월로 9개월 연장</div>
                          <small class="log-time">01/21</small>
                        </div>

                        <div class="activity-log">
                          <p class="log-name">미국 FOMC</p>
                          <div class="log-details">연준은 지난 회의에서 현행 제로금리를 최소 2023년까지 동결하겠다고 밝힘 또한 매월 최소 800억달러의 국채와 400억 달러의 모기지증권 매입 계획을 발표</div>
                          <small class="log-time">~01/27</small>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 equel-grid">
                <div class="row">
                  <div class="grid table-responsive">
                  <table class="table table-stretched">
                    <thead>
                      <tr>
                        <th>ADR
                          <span class="btn action-btn btn-xs component-flat" data-toggle="tooltip" data-placement="left" title="ADR(Advance Decline Ratio)는 주식시장의 센티멘트를 측정하는 기술적 지표로 상승과 하락하는 종목의 수에 의해 계산되고 75이하일때는 과매도(바닥), 120이상일때는 과매수(과열) 국면으로 여겨진다.">
                        <i class="mdi mdi-information-outline text-muted mdi-2x"></i>
                      </span></th>
                        <th>Current</th>
                        <th>Change</th>
                      </tr>
                    </thead>
                    <tbody id = 'get_adr_current'>
                    </tbody>
                  </table>
                </div>
                  <div class="grid table-responsive">
                    <table class="table table-stretched">
                      <thead>
                      <tr>
                        <th>ADR history</th>
                        <th>KOSPI</th>
                        <th>KOSDAQ</th>
                      </tr>
                      </thead>
                      <tbody id = 'get_adr_hist'>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


<!--
            <div class="row">
              <div class="col-lg-12">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-xUvlPPHjQXnmY3Dx"
                     data-ad-width   = "320"
                     data-ad-height  = "100"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
              </div>
            </div>-->

          </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:partials/_footer.html -->

        <footer class="footer">
          <div class="row">
            <div class="col-sm-12 text-center text-sm-right mt-3 mt-sm-0">
              <small class="text-muted d-block">모든 투자에 대한 책임은 투자자 본인에게 있으며 본 페이지의 정보는 투자에 참고만 하시기 바랍니다. Copyright © 2020 All rights reserved</small>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- page content ends -->
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="../../resources/assets/vendors/js/core.js"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="../../resources/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="../../resources/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="../../resources/assets/js/charts/chartjs.addon.js"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="../../resources/assets/js/template.js"></script>
    <script src="../../resources/assets/js/dashboard.js"></script>
    <script src="../../resources/assets/js/main_output.js"></script>
    <script src="../../resources/assets/js/charts/chartjs.js"></script>

    <!-- endbuild -->
  </body>
</html>