<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GHMXRFTM9Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GHMXRFTM9Z');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beyond Stock</title>
    <link rel="stylesheet" href="../../resources/assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="../../resources/assets/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="../asssets/images/favicon.ico" />
    <meta property="og:url"                content="http://beyondstock.net" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Beyond Stock" />
    <meta property="og:description"        content="우리는 강에 떠 있으면 바다로 간다." />
    <meta property="og:image"              content="http://beyondstock.net:8000/ogimage.PNG" />
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" class="header-fixed">
<!-- partial:partials/_header.html -->
<nav class="t-header">
    <div class="t-header-brand-wrapper">
        <a href="/">
<!--            <img class="logo" src="../../resources/assets/images/logo.svg" alt="">-->
            <img class="logo-mini" src="../../resources/assets/images/logo_mini.svg" alt="">
        </a>
    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
                <i class="mdi mdi-menu"></i>
            </button>
            <ul class="nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-message-outline mdi-1x"></i>
                        <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="messageDropdown">
                        <div class="dropdown-header">
                            <h6 class="dropdown-title"><b>후원 및 기타문의</b></h6>
                            <p class="dropdown-title-text">본 싸이트의 컨텐츠가 투자에 도움이 되신다면</p>
                            <p class="dropdown-title-text">장기적 운영 및 신규컨텐츠 개발을 위해</p>
                            <p class="dropdown-title-text">작은 후원을 부탁드립니다.</p>
                        </div>
                        <div class="dropdown-body">
                            <div class="dropdown-list">
                                <div class="image-wrapper">
                                    <img class="profile-img" src="../../resources/assets/images/hotmail.png" alt="email">
                                    <div class="status-indicator rounded-indicator bg-success"></div>
                                </div>
                                <div class="content-wrapper">
                                    <small class="name">Email</small><br>
                                    <small class="content-text">beyondstock@hotmail.com</small>
                                </div>
                            </div>
                            <div class="dropdown-list">
                                <div class="image-wrapper">
                                    <img class="profile-img" src="../../resources/assets/images/kb1.jpg" alt="KB국민은행">
                                    <div class="status-indicator rounded-indicator bg-success"></div>
                                </div>
                                <div class="content-wrapper">
                                    <small class="name">KB국민은행</small><br>
                                    <small class="content-text">394402-04-400611</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <div class="sidebar">
        <ul class="navigation-menu">
            <li class="nav-category-divider">MAIN</li>
            <li>
                <a href="../">
                    <span class="link-title">Home</span>
                    <i class="mdi mdi-gauge link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../rim">
                    <span class="link-title">RIM</span>
                    <i class="mdi mdi-flask link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../persector">
                    <span class="link-title">RIM per Sector</span>
                    <i class="mdi mdi-flask-empty-outline link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../trend" >
                    <span class="link-title">Profit Verification</span>
                    <i class="mdi mdi-bullseye link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../lowper">
                    <span class="link-title">Low PER</span>
                    <i class="mdi mdi-clipboard-outline link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../consensus">
                    <span class="link-title">Consensus</span>
                    <i class="mdi mdi-chart-donut link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../whobuy">
                    <span class="link-title">Buy&Sell</span>
                    <i class="mdi mdi-flower-tulip-outline link-icon"></i>
                </a>
            </li>
            <li>
                <a href="../faq">
                    <span class="link-title">FAQ</span>
                    <i class="mdi mdi-asterisk link-icon"></i>
                </a>
            </li>
            <br>
<!--            <div class="grid-body">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-tTRasTdJ1TaBukMA"
                     data-ad-width   = "160"
                     data-ad-height  = "600"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
            </div>-->
<!--            <div class="sidebar-upgrade-banner"></div>
            <div class="grid-body">

                <div class="split-header">
                    <p class="text-primary"><b>후원 및 기타문의</b></p>
                </div>
                <div class="item-wrapper" style="font-size: 12px;">
                    <p class="text-gray">beyondstock@hotmail.com</p>
                    <p class="text-gray">KB국민은행</p>
                    <p class="text-gray">394402-04-400611</p>
                </div>
            </div>-->
        </ul>
    </div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="content-viewport">
<!--                <div class="row">
                    <div class="col-lg-12">
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-DUeVKOaEbWBkcsqO"
                             data-ad-width   = "320"
                             data-ad-height  = "100"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

                    </div>
                </div>-->
                <div class="row">
                    <div class="col-lg-12">

                    <div class="grid">
                        <div class="grid-body">
                            <h2 class="grid-title">Low PER(Price Earning Ratio)</h2>
                            <div class="item-wrapper" style="font-size: 12px;">
                                <p>주가수익률(PER)은 주가를 1주당 순이익(EPS)으로 나눈 값입니다. 예를 들어 삼성전자의 주당순이익(EPS)이 6,000원이라 가정하고 현재 주가가 60,000원이면 PER은 10으로 산정됩니다.</p>
                                <p>올해 컨센서스에 예상되는 PER을 적용하거나 컨센서스가 없는 종목의 경우 지난 2-3분기의 지배주주순이익을 기준으로 연간 PER를 산술적으로 예측합니다.</p>
                                <p>PER이라는 지표 자체가 상대평가 방법론이기 때문에 업종별로 Average PER에 대한 정의는 투자자의 주관적입니다.</p>
                                <p>예를 들어 삼성전자나 하이닉스의 메모리 부문의 경우 PER 15을 max로 보고 있고 최근에 뜨고 있는 의약바이오, 신재생에너지, 2차전지 등의 경우에는 PER가 40을 넘어 수백에 이르기까지 다양합니다.</p>
                                <p>따라서 업종 내 평균 PER을 확인하기 위하여 업종 평균 PER을 표시해 두었으니 참고하기 바랍니다(시총 2,000억 이상, 0 < PER < 100 평균).</p>
                            </div>
                            <br>
                            <div class="item-wrapper" style="font-size: 13px;">
                            <p>Price-Earning Ratio(PER) is the price divided by the Earnings Per Share (EPS). For example, assume that Samsung Electronics' EPS is KRW6,000, and if the current share price is KRW60,000, the PER is calculated as 10.</p>
                                <p>Applying the expected PER to this year's consensus or fFor stocks without consensus, the annual PER is calculated based on the controlling shareholders' net income for the last 2-3 quarters.</p>
                                <p>Since the PER indicator itself is a relative valuation methodology, the definition of average PER for each sector is subjective by investors.</p>
                                <p>For example, Samsung Electronics and Hynix's memory division sees a PER of 15 as max, and recently emerging pharmaceutical bio, new and renewable energy, and rechargeable batteries have a PER of over 40, ranging from 40 to hundreds.</p>
                                <p>Therefore, to check the average PER within the industry, please note that the sector average PER is displayed (market cap of 200 billion or more, 0 <PER <100 average).</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
<!--                <div class="row">
                    <div class="col-lg-12">
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-5BMUl4W0U78VwNiS"
                             data-ad-width   = "320"
                             data-ad-height  = "100"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid">
                            <div class="grid-header">
                                <h6>PER를 기준으로 저평가된 주식들(Stocks undervalued based on PER)<span class="grid-title">(2021/12(E))</span></h6>
                            </div>
                            <div class="item-wrapper">
                                <div class="table-responsive">
                                    <table class="table info-table table-striped">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Code</th>
                                            <th>종목명</th>
                                            <th>예상순익</th>
                                            <th>시총</th>
                                            <th>예상PER</th>
                                            <th>분류</th>
                                            <th>업종평균(PER)</th>
                                        </tr>
                                        </thead>
                                        <tbody id = 'get_q2'>
                                        </tbody>
                                    </table>
                                    <div style="text-align: center;">
                            <span style="text-align: center; display: inline-block;">
                                <ul class="pagination" id="paging2"></ul>
                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="row">
                    <div class="col-lg-12">
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-xUvlPPHjQXnmY3Dx"
                             data-ad-width   = "320"
                             data-ad-height  = "100"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
                    </div>
                </div>-->
            </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="row">
<!--                <div class="col-sm-6 text-center text-sm-right order-sm-1">
                    <ul class="text-gray">
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>-->
                <div class="col-sm-12 text-center text-sm-right mt-3 mt-sm-0">
                    <small class="text-muted d-block">모든 투자에 대한 책임은 투자자 본인에게 있으며 본 페이지의 정보는 투자에 참고만 하시기 바랍니다. Copyright © 2020 All rights reserved</small>
<!--                    <small class="text-muted d-block">Copyright © 2019 <a href="http://www.uxcandy.co" target="_blank">UXCANDY</a>. All rights reserved</small>-->
<!--                    <small class="text-gray mt-2">Handcrafted With <i class="mdi mdi-heart text-danger"></i></small>-->
                </div>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- page content ends -->
</div>
<!--page body ends -->
<!-- SCRIPT LOADING START FORM HERE /////////////-->
<!-- plugins:js -->
<script src="../../resources/assets/vendors/js/core.js"></script>
<!-- endinject -->
<!-- Vendor Js For This Page Ends-->
<script src="../../resources/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="../../resources/assets/vendors/chartjs/Chart.min.js"></script>
<script src="../../resources/assets/js/charts/chartjs.addon.js"></script>
<!-- Vendor Js For This Page Ends-->
<!-- build:js -->
<script src="../../resources/assets/js/template.js"></script>
<script src="../../resources/assets/js/dashboard.js"></script>
<script src="../../resources/assets/js/lowper_output.js"></script>
<!-- endbuild -->
</body>
</html>