<!DOCTYPE html>
<html lang="kr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GHMXRFTM9Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GHMXRFTM9Z');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beyond Stock</title>
    <link rel="stylesheet" href="../../resources/assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="../../resources/assets/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="../asssets/images/favicon.ico" />
    <meta property="og:url"                content="http://beyondstock.net" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Beyond Stock" />
    <meta property="og:description"        content="우리는 강에 떠 있으면 바다로 간다." />
    <meta property="og:image"              content="http://beyondstock.net:8000/ogimage.PNG" />
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" class="header-fixed">
<nav class="t-header">
    <div class="t-header-brand-wrapper">
        <a href="/">
            <img class="logo-mini" src="../../resources/assets/images/logo_mini.svg" alt="">
        </a>
    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
                <i class="mdi mdi-menu"></i>
            </button>
            <ul class="nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-message-outline mdi-1x"></i>
                        <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="messageDropdown">
                        <div class="dropdown-header">
                            <h6 class="dropdown-title"><b>후원 및 기타문의</b></h6>
                            <p class="dropdown-title-text">본 싸이트의 컨텐츠가 투자에 도움이 되신다면</p>
                            <p class="dropdown-title-text">장기적 운영 및 신규컨텐츠 개발을 위해</p>
                            <p class="dropdown-title-text">작은 후원을 부탁드립니다.</p>
                        </div>
                        <div class="dropdown-body">
                            <div class="dropdown-list">
                                <div class="image-wrapper">
                                    <img class="profile-img" src="../../resources/assets/images/hotmail.png"
                                         alt="email">
                                    <div class="status-indicator rounded-indicator bg-success"></div>
                                </div>
                                <div class="content-wrapper">
                                    <small class="name">Email</small><br>
                                    <small class="content-text">beyondstock@hotmail.com</small>
                                </div>
                            </div>
                            <div class="dropdown-list">
                                <div class="image-wrapper">
                                    <img class="profile-img" src="../../resources/assets/images/kb1.jpg" alt="KB국민은행">
                                    <div class="status-indicator rounded-indicator bg-success"></div>
                                </div>
                                <div class="content-wrapper">
                                    <small class="name">KB국민은행</small><br>
                                    <small class="content-text">394402-04-400611</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="page-body">
    <div class="sidebar">
            <ul class="navigation-menu">
                <li class="nav-category-divider">MAIN</li>
                <li>
                    <a href="../">
                        <span class="link-title">Home</span>
                        <i class="mdi mdi-gauge link-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="../rim">
                        <span class="link-title">RIM</span>
                        <i class="mdi mdi-flask link-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="../persector">
                        <span class="link-title">RIM per Sector</span>
                        <i class="mdi mdi-flask-empty-outline link-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="../trend" >
                        <span class="link-title">Profit Verification</span>
                        <i class="mdi mdi-bullseye link-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="../lowper">
                        <span class="link-title">Low PER</span>
                        <i class="mdi mdi-clipboard-outline link-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="../consensus">
                        <span class="link-title">Consensus</span>
                        <i class="mdi mdi-chart-donut link-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="../whobuy">
                        <span class="link-title">Buy&Sell</span>
                        <i class="mdi mdi-flower-tulip-outline link-icon"></i>
                    </a>
                </li>
                <li>
                    <a href="../faq">
                        <span class="link-title">FAQ</span>
                        <i class="mdi mdi-asterisk link-icon"></i>
                    </a>
                </li>
                <br>
<!--                <div class="grid-body">
                    <ins class="kakao_ad_area" style="display:none;"
                         data-ad-unit    = "DAN-tTRasTdJ1TaBukMA"
                         data-ad-width   = "160"
                         data-ad-height  = "600"></ins>
                    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
                </div>-->
<!--                <div class="sidebar-upgrade-banner"></div>
                <div class="grid-body">

                    <div class="split-header">
                        <p class="text-primary"><b>후원 및 기타문의</b></p>
                    </div>
                    <div class="item-wrapper" style="font-size: 12px;">
                        <p class="text-gray">beyondstock@hotmail.com</p>
                        <p class="text-gray">KB국민은행</p>
                        <p class="text-gray">394402-04-400611</p>
                    </div>
                </div>-->
            </ul>
        </div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="content-viewport">

<!--                <div class="row">
                    <div class="col-lg-12">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-DUeVKOaEbWBkcsqO"
                     data-ad-width   = "320"
                     data-ad-height  = "100"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

                    </div>
                </div>-->
                <div class="row">
                    <div class="col-lg-12">

                        <div class="grid">
                            <div class="grid-body">
                                <h2 class="grid-title">Sector별 RIM Ranking</h2>
                                <div class="item-wrapper" style="font-size: 12px;">
                                <p>fnguide의 종목 구분을 기준으로 분류합니다. 예) 삼성전자 : FICS 휴대폰 및 관련부품</p>
                                <p>RIM에 대한 설명은 RIM 메뉴를 참고해주세요.</p>
                                <p>Default로 반도체 및 관련장비 업종에 대한 데이터가 출력되고 섹터를 선택하시면 해당 섹터의 종목을 확인할 수 있습니다. ROE가 8이하는 제외합니다.</p>
                            </div>
                                <br>
                            <div class="item-wrapper" style="font-size: 13px;">

                            <p>Classification is based on the fnguide category. Example) Samsung Electronics: FICS mobile phone and related parts</p>
                                <p>For a description of RIM, refer to the RIM menu.</p>
                                <p>By default, data on the semiconductor and related equipment industry is output, and if you select a sector, you can check the sector's stock. ROE of 8 or less is excluded.</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
<!--                <div class="row">
                    <div class="col-lg-12">
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-5BMUl4W0U78VwNiS"
                             data-ad-width   = "320"
                             data-ad-height  = "100"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
                    </div>
                </div>-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid">
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="dropdown">
                                        <button onclick="myFunction()" class="dropbtn">섹터를 선택하세요(Please select a sector)</button>
                                        <div id="myDropdown" class="dropdown-content">
                                            <a href="../persector/?자동차부품">자동차부품</a>
                                            <a href="../persector/?반도체 및 관련장비">반도체 및 관련장비</a>
                                            <a href="../persector/?제약">제약</a>
                                            <a href="../persector/?화학">화학</a>
                                            <a href="../persector/?디스플레이 및 관련부품">디스플레이 및 관련부품</a>
                                            <a href="../persector/?의료 장비 및 서비스">의료 장비 및 서비스</a>
                                            <a href="../persector/?금속 및 광물">금속 및 광물</a>
                                            <a href="../persector/?전자 장비 및 기기">전자 장비 및 기기</a>
                                            <a href="../persector/?식료품">식료품</a>
                                            <a href="../persector/?미디어">미디어</a>
                                            <a href="../persector/?섬유 및 의복">섬유 및 의복</a>
                                            <a href="../persector/?IT 서비스">IT 서비스</a>
                                            <a href="../persector/?휴대폰 및 관련부품">휴대폰 및 관련부품</a>
                                            <a href="../persector/?건설">건설</a>
                                            <a href="../persector/?바이오">바이오</a>
                                            <a href="../persector/?개인생활용품">개인생활용품</a>
                                            <a href="../persector/?일반 소프트웨어">일반 소프트웨어</a>
                                            <a href="../persector/?통신장비">통신장비</a>
                                            <a href="../persector/?상업서비스">상업서비스</a>
                                            <a href="../persector/?게임 소프트웨어">게임 소프트웨어</a>
                                            <a href="../persector/?내구소비재">내구소비재</a>
                                            <a href="../persector/?전기장비">전기장비</a>
                                            <a href="../persector/?창업투자 및 종금">창업투자 및 종금</a>
                                            <a href="../persector/?에너지 시설 및 서비스">에너지 시설 및 서비스</a>
                                            <a href="../persector/?조선">조선</a>
                                            <a href="../persector/?건축자재">건축자재</a>
                                            <a href="../persector/?건축소재">건축소재</a>
                                            <a href="../persector/?종이 및 목재">종이 및 목재</a>
                                            <a href="../persector/?증권">증권</a>
                                            <a href="../persector/?호텔 및 레저">호텔 및 레저</a>
                                            <a href="../persector/?도소매">도소매</a>
                                            <a href="../persector/?용기 및 포장">용기 및 포장</a>
                                            <a href="../persector/?교육">교육</a>
                                            <a href="../persector/?컴퓨터 및 주변기기">컴퓨터 및 주변기기</a>
                                            <a href="../persector/?인터넷 서비스">인터넷 서비스</a>
                                            <a href="../persector/?육상운수">육상운수</a>
                                            <a href="../persector/?보험">보험</a>
                                            <a href="../persector/?석유 및 가스">석유 및 가스</a>
                                            <a href="../persector/?운송인프라">운송인프라</a>
                                            <a href="../persector/?보안장비">보안장비</a>
                                            <a href="../persector/?음료">음료</a>
                                            <a href="../persector/?가스">가스</a>
                                            <a href="../persector/?보안장비">보안장비</a>
                                            <a href="../persector/?레저용품">레저용품</a>
                                            <a href="../persector/?복합 산업">복합 산업</a>
                                            <a href="../persector/?항공운수">항공운수</a>
                                            <a href="../persector/?온라인쇼핑">온라인쇼핑</a>
                                            <a href="../persector/?상업은행">상업은행</a>
                                            <a href="../persector/?해상운수">해상운수</a>
                                            <a href="../persector/?무선통신">무선통신</a>
                                            <a href="../persector/?부동산">부동산</a>
                                            <a href="../persector/?소비자 금융">소비자 금융</a>
                                            <a href="../persector/?셋톱 박스">셋톱 박스</a>
                                            <a href="../persector/?자동차">자동차</a>
                                            <a href="../persector/?백화점">백화점</a>
                                            <a href="../persector/?가정생활용품">가정생활용품</a>
                                            <a href="../persector/?무역">무역</a>
                                            <a href="../persector/?전력">전력</a>
                                            <a href="../persector/?상호저축은행">상호저축은행</a>
                                            <a href="../persector/?사무기기">사무기기</a>
                                            <a href="../persector/?담배">담배</a>
                                            <a href="../persector/?유선통신">유선통신</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="item-wrapper">
                                    <div class="table-responsive">
                                        <table class="table info-table table-striped">
                                            <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Code</th>
                                                <th>종목명</th>
                                                <th>현재가</th>
                                                <th>PBR</th>
                                                <th>PER</th>
                                                <th>최종목표가</th>
                                                <th>1차목표가</th>
                                                <th>매수가</th>
                                                <th>ROE</th>
                                                <th>시총(억)</th>
                                            </tr>
                                            </thead>
                                            <tbody id='get_q1'>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
<!--                <div class="row">
                    <div class="col-lg-12">
                        <ins class="kakao_ad_area" style="display:none;"
                             data-ad-unit    = "DAN-xUvlPPHjQXnmY3Dx"
                             data-ad-width   = "320"
                             data-ad-height  = "100"></ins>
                        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
                    </div>
                </div>-->
            </div>
        </div>
        <footer class="footer">
            <div class="row">
                <div class="col-sm-12 text-center text-sm-right mt-3 mt-sm-0">
                    <small class="text-muted d-block">모든 투자에 대한 책임은 투자자 본인에게 있으며 본 페이지의 정보는 투자에 참고만 하시기 바랍니다. Copyright
                        © 2020 All rights reserved</small>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="../../resources/assets/vendors/js/core.js"></script>
<script src="../../resources/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="../../resources/assets/vendors/chartjs/Chart.min.js"></script>
<script src="../../resources/assets/js/charts/chartjs.addon.js"></script>
<script src="../../resources/assets/js/template.js"></script>
<script src="../../resources/assets/js/dashboard.js"></script>
<script src="../../resources/assets/js/persector_output.js"></script>
</body>
</html>