<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beyond Stock</title>
    <link rel="stylesheet" href="../../resources/assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="../../resources/assets/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="../asssets/images/favicon.ico" />
    <meta property="og:url"                content="http://beyondstock.net" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Beyond Stock" />
    <meta property="og:description"        content="우리는 강에 떠 있으면 바다로 간다." />
    <meta property="og:image"              content="http://beyondstock.net:8000/ogimage.PNG" />
    <script data-ad-client="ca-pub-1491207752842955" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" class="header-fixed">
<!-- partial:partials/_header.html -->
<nav class="t-header">
    <div class="t-header-brand-wrapper">
        <a href="/">
            <!--            <img class="logo" src="../../resources/assets/images/logo.svg" alt="">-->
            <img class="logo-mini" src="../../resources/assets/images/logo_mini.svg" alt="">
        </a>
    </div>
    <div class="t-header-content-wrapper">
        <div class="t-header-content">
            <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
                <i class="mdi mdi-menu"></i>
            </button>
            <ul class="nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-message-outline mdi-1x"></i>
                        <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
                    </a>
                    <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="messageDropdown">
                        <div class="dropdown-header">
                            <h6 class="dropdown-title"><b>후원 및 기타문의</b></h6>
                            <p class="dropdown-title-text">본 싸이트의 컨텐츠가 투자에 도움이 되신다면</p>
                            <p class="dropdown-title-text">장기적 운영 및 신규컨텐츠 개발을 위해</p>
                            <p class="dropdown-title-text">작은 후원을 부탁드립니다.</p>
                        </div>
                        <div class="dropdown-body">
                            <div class="dropdown-list">
                                <div class="image-wrapper">
                                    <img class="profile-img" src="../../resources/assets/images/hotmail.png" alt="email">
                                    <div class="status-indicator rounded-indicator bg-success"></div>
                                </div>
                                <div class="content-wrapper">
                                    <small class="name">Email</small><br>
                                    <small class="content-text">beyondstock@hotmail.com</small>
                                </div>
                            </div>
                            <div class="dropdown-list">
                                <div class="image-wrapper">
                                    <img class="profile-img" src="../../resources/assets/images/kb1.jpg" alt="KB국민은행">
                                    <div class="status-indicator rounded-indicator bg-success"></div>
                                </div>
                                <div class="content-wrapper">
                                    <small class="name">KB국민은행</small><br>
                                    <small class="content-text">계좌번호 : 394402-04-400611</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!-- partial -->
<div class="page-body">
    <!-- partial:partials/_sidebar.html -->
    <div class="sidebar">

        <ul class="navigation-menu">
            <li class="nav-category-divider">MAIN</li>
            <li>
                <a href="/">
                    <span class="link-title">Home</span>
                    <i class="mdi mdi-gauge link-icon"></i>
                </a>
            </li>
            <li>
                <a href="rim">
                    <span class="link-title">RIM</span>
                    <i class="mdi mdi-flask link-icon"></i>
                </a>
            </li>
            <li>
                <a href="trend" >
                    <span class="link-title">Profit Verification</span>
                    <i class="mdi mdi-bullseye link-icon"></i>
                </a>
            </li>
            <li>
                <a href="lowper">
                    <span class="link-title">Low PER</span>
                    <i class="mdi mdi-clipboard-outline link-icon"></i>
                </a>
            </li>
            <li>
                <a href="consensus">
                    <span class="link-title">Consensus</span>
                    <i class="mdi mdi-chart-donut link-icon"></i>
                </a>
            </li>
            <li>
                <a href="whobuy">
                    <span class="link-title">Buy&Sell</span>
                    <i class="mdi mdi-flower-tulip-outline link-icon"></i>
                </a>
            </li>
            <li>
                <a href="faq">
                    <span class="link-title">FAQ</span>
                    <i class="mdi mdi-asterisk link-icon"></i>
                </a>
            </li>
            <br>
            <div class="sidebar-upgrade-banner"></div>
            <div class="grid-body">

                <div class="split-header">
                    <p class="text-primary"><b>후원 및 기타문의</b></p>
                </div>
                <div class="item-wrapper" style="font-size: 12px;">
                    <p class="text-gray">beyondstock@hotmail.com</p>
                    <p class="text-gray">KB국민은행</p>
                    <p class="text-gray">394402-04-400611</p>
                </div>
            </div>
        </ul>
    </div>
    <!-- partial -->
    <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
            <div class="content-viewport">
                <div class="row">
                    <div class="col-lg-12">

                    <div class="grid">
                        <div class="grid-body">
                            <h2 class="grid-title">Sector별 RIM Ranking</h2>
                            <p>fnguide의 종목 구분을 기준으로 분류합니다. 예) 삼성전자 : FICS 휴대폰 및 관련부품</p>
                            <p>ROE가 8이하는 제외합니다.</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="grid">
                            <div class="grid-body">
                                <div class="item-wrapper">
                                    <div class="demo-wrapper">
                                        <div class="btn-group mb-0" data-toggle="buttons">
                                            <div class="table-responsive">
                                                <table class="table info-table table-striped">
                                                    <tbody>
                                                    <tr>
                                                        <th><label class="btn btn-outline-info">
                                                            <input type="radio" name="chk_info" value="자동차부품" onchange="func_checked('자동차부품')">자동차부품
                                                        </label>
                                                        </th>
                                                        <th><label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="반도체 및 관련장비" checked onchange="func_checked('반도체 및 관련장비')">반도체 및 관련장비
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="제약" onchange="func_checked('제약')">제약
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="화학" onchange="func_checked('화학')">화학
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="디스플레이 및 관련부품" onchange="func_checked('디스플레이 및 관련부품')">디스플레이 및 관련부품
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="의료 장비 및 서비스" onchange="func_checked('의료 장비 및 서비스')">의료 장비 및 서비스
                                                    </label>
                                                    </th>
                                                    </tr>
                                                    <tr>
                                                        <th> <label class="btn btn-outline-info">
                                                            <input type="radio" name="chk_info" value="금속 및 광물" onchange="func_checked('금속 및 광물')">금속 및 광물
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="전자 장비 및 기기" onchange="func_checked('전자 장비 및 기기')">전자 장비 및 기기
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="기계" onchange="func_checked('기계')">기계
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="식료품" onchange="func_checked('식료품')">식료품
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="미디어" onchange="func_checked('미디어')">미디어
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="섬유 및 의복" onchange="func_checked('섬유 및 의복')">섬유 및 의복
                                                    </label>
                                                    </th>
                                                    </tr>
                                                        <tr><th> <label class="btn btn-outline-info">
                                                            <input type="radio" name="chk_info" value="IT 서비스" onchange="func_checked('IT 서비스')">IT 서비스
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                            <input type="radio" name="chk_info" value="휴대폰 및 관련부품" onchange="func_checked('휴대폰 및 관련부품')">휴대폰 및 관련부품
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="건설" onchange="func_checked('건설')">건설
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="바이오" onchange="func_checked('바이오')">바이오
                                                    </label>

                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="개인생활용품" onchange="func_checked('개인생활용품')">개인생활용품
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="일반 소프트웨어" onchange="func_checked('일반 소프트웨어')">일반 소프트웨어
                                                    </label>
                                                    </th>
                                                        </tr>
                                                            <tr><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="통신장비" onchange="func_checked('통신장비')">통신장비
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="상업서비스" onchange="func_checked('상업서비스')">상업서비스
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="게임 소프트웨어" onchange="func_checked('게임 소프트웨어')">게임 소프트웨어
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="내구소비재" onchange="func_checked('내구소비재')">내구소비재
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="전기장비" onchange="func_checked('전기장비')">전기장비
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="창업투자 및 종금" onchange="func_checked('창업투자 및 종금')">창업투자 및 종금
                                                    </label>
                                                    </th>
                                                            </tr>
                                                    <tr><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="에너지 시설 및 서비스" onchange="func_checked('에너지 시설 및 서비스')">에너지 시설 및 서비스
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="조선" onchange="func_checked('조선')">조선
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="건축자재" onchange="func_checked('건축자재')">건축자재
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="건축소재" onchange="func_checked('건축소재')">건축소재
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="종이 및 목재" onchange="func_checked('종이 및 목재')">종이 및 목재
                                                    </label>
                                                    </th><th><label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="증권" onchange="func_checked('증권')">증권
                                                    </label>
                                                    </th>
                                                    </tr>
                                                    <tr><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="호텔 및 레저" onchange="func_checked('호텔 및 레저')">호텔 및 레저
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="도소매" onchange="func_checked('도소매')">도소매
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="용기 및 포장" onchange="func_checked('용기 및 포장')">용기 및 포장
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="교육" onchange="func_checked('교육')">교육
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="컴퓨터 및 주변기기" onchange="func_checked('컴퓨터 및 주변기기')">컴퓨터 및 주변기기
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="인터넷 서비스" onchange="func_checked('인터넷 서비스')">인터넷 서비스
                                                    </label>
                                                    </th>
                                                    </tr>
                                                    <tr><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="육상운수" onchange="func_checked('육상운수')">육상운수
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="보험" onchange="func_checked('보험')">보험
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="석유 및 가스" onchange="func_checked('석유 및 가스')">석유 및 가스
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="운송인프라" onchange="func_checked('운송인프라')">운송인프라
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="보안장비" onchange="func_checked('보안장비')">보안장비
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="음료" onchange="func_checked('음료')">음료
                                                    </label>
                                                    </th>
                                                    </tr>
                                                    <tr><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="가스" onchange="func_checked('가스')">가스
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="레저용품" onchange="func_checked('레저용품')">레저용품
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="복합 산업" onchange="func_checked('복합 산업')">복합 산업
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="항공운수" onchange="func_checked('항공운수')">항공운수
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="온라인쇼핑" onchange="func_checked('온라인쇼핑')">온라인쇼핑
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="상업은행" onchange="func_checked('상업은행')">상업은행
                                                    </label>
                                                    </th>
                                                    </tr>
                                                    <tr><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="해상운수" onchange="func_checked('해상운수')">해상운수
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="무선통신" onchange="func_checked('무선통신')">무선통신
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="부동산" onchange="func_checked('부동산')">부동산
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="소비자 금융" onchange="func_checked('소비자 금융')">소비자 금융
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="셋톱 박스" onchange="func_checked('셋톱 박스')">셋톱 박스
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="자동차" onchange="func_checked('자동차')">자동차
                                                    </label>
                                                    </th>
                                                    </tr>
                                                        <tr><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="백화점" onchange="func_checked('백화점')">백화점
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="가정생활용품" onchange="func_checked('가정생활용품')">가정생활용품
                                                    </label>
                                                    </th><th><label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="무역" onchange="func_checked('무역')">무역
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="전력" onchange="func_checked('전력')">전력
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="상호저축은행" onchange="func_checked('상호저축은행')">상호저축은행
                                                    </label>
                                                    </th><th>  <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="사무기기" onchange="func_checked('사무기기')">사무기기
                                                    </label>
                                                    </th>
                                                        </tr>
                                                    <tr><th>  <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="담배" onchange="func_checked('담배')">담배
                                                    </label>
                                                    </th><th> <label class="btn btn-outline-info">
                                                        <input type="radio" name="chk_info" value="유선통신" onchange="func_checked('유선통신')">유선통신
                                                    </label>
                                                    </th>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>





                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item-wrapper">
                                <div class="table-responsive">
                                    <table class="table info-table table-striped">
                                        <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Code</th>
                                            <th>종목명</th>
                                            <th>현재가</th>
                                            <th>PBR</th>
                                            <th>PER</th>
                                            <!--                            <th>PSR</th>-->
                                            <!--                            <th>PCR</th>-->
                                            <th>최종목표가</th>
                                            <th>1차목표가</th>
                                            <th>매수가</th>
                                            <th>ROE</th>
                                            <th>시총(억)</th>
                                        </tr>
                                        </thead>
                                        <tbody id = 'get_q1'>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="row">
                <!--                <div class="col-sm-6 text-center text-sm-right order-sm-1">
                                    <ul class="text-gray">
                                        <li><a href="#">Terms of use</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>-->
                <div class="col-sm-12 text-center text-sm-right mt-3 mt-sm-0">
                    <small class="text-muted d-block">모든 투자에 대한 책임은 투자자 본인에게 있으며 본 페이지의 정보는 투자에 참고만 하시기 바랍니다. Copyright © 2020 All rights reserved</small>
                    <!--                    <small class="text-muted d-block">Copyright © 2019 <a href="http://www.uxcandy.co" target="_blank">UXCANDY</a>. All rights reserved</small>-->
                    <!--                    <small class="text-gray mt-2">Handcrafted With <i class="mdi mdi-heart text-danger"></i></small>-->
                </div>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- page content ends -->
</div>
<!--page body ends -->
<!-- SCRIPT LOADING START FORM HERE /////////////-->
<!-- plugins:js -->
<script src="../../resources/assets/vendors/js/core.js"></script>
<!-- endinject -->
<!-- Vendor Js For This Page Ends-->
<script src="../../resources/assets/vendors/apexcharts/apexcharts.min.js"></script>
<script src="../../resources/assets/vendors/chartjs/Chart.min.js"></script>
<script src="../../resources/assets/js/charts/chartjs.addon.js"></script>
<!-- Vendor Js For This Page Ends-->
<!-- build:js -->
<script src="../../resources/assets/js/template.js"></script>
<script src="../../resources/assets/js/dashboard.js"></script>
<script src="../../resources/assets/js/persector_output.js"></script>
<!-- endbuild -->
</body>
</html>