<!DOCTYPE html>
<html lang="kr">
  <head>
    <script data-ad-client="ca-pub-1491207752842955" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GHMXRFTM9Z"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GHMXRFTM9Z');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beyond Stock</title>
    <link rel="stylesheet" href="../../resources/assets/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../resources/assets/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="../../resources/assets/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="../asssets/images/favicon.ico" />
    <meta property="og:url"                content="http://beyondstock.net" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Beyond Stock" />
    <meta property="og:description"        content="우리는 강에 떠 있으면 바다로 간다." />
    <meta property="og:image"              content="http://beyondstock.net:8000/ogimage.PNG" />
  </head>
  <body oncontextmenu="return false" ondragstart="return false" onselectstart="return false" class="header-fixed">

  <!-- partial:partials/_header.html -->
    <nav class="t-header">
      <div class="t-header-brand-wrapper">
        <a href="/">
<!--          <img class="logo" src="../../resources/assets/images/logo.svg" alt="">-->
          <img class="logo-mini" src="../../resources/assets/images/logo_mini.svg" alt="">
        </a>
      </div>
      <div class="t-header-content-wrapper">
        <div class="t-header-content">
          <button class="t-header-toggler t-header-mobile-toggler d-block d-lg-none">
            <i class="mdi mdi-menu"></i>
          </button>
          <ul class="nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="messageDropdown" data-toggle="dropdown" aria-expanded="false">
                <i class="mdi mdi-message-outline mdi-1x"></i>
                <span class="notification-indicator notification-indicator-primary notification-indicator-ripple"></span>
              </a>
              <div class="dropdown-menu navbar-dropdown dropdown-menu-right" aria-labelledby="messageDropdown">
                <div class="dropdown-header">
                  <h6 class="dropdown-title"><b>후원 및 기타문의</b></h6>
                  <p class="dropdown-title-text">본 싸이트의 컨텐츠가 투자에 도움이 되신다면</p>
                  <p class="dropdown-title-text">장기적 운영 및 신규컨텐츠 개발을 위해</p>
                  <p class="dropdown-title-text">작은 후원을 부탁드립니다.</p>
                </div>
                <div class="dropdown-body">
                  <div class="dropdown-list">
                    <div class="image-wrapper">
                      <img class="profile-img" src="../../resources/assets/images/hotmail.png" alt="email">
                      <div class="status-indicator rounded-indicator bg-success"></div>
                    </div>
                    <div class="content-wrapper">
                      <small class="name">Email</small><br>
                      <small class="content-text">beyondstock@hotmail.com</small>
                    </div>
                  </div>
                  <div class="dropdown-list">
                    <div class="image-wrapper">
                      <img class="profile-img" src="../../resources/assets/images/kb1.jpg" alt="KB국민은행">
                      <div class="status-indicator rounded-indicator bg-success"></div>
                    </div>
                    <div class="content-wrapper">
                      <small class="name">KB국민은행</small><br>
                      <small class="content-text">394402-04-400611</small>
                    </div>
                  </div>
                  <!--                            <div class="dropdown-list">
                                                  <div class="image-wrapper">
                                                      <img class="profile-img" src="../../resources/assets/images/profile/male/image_3.png" alt="profile image">
                                                      <div class="status-indicator rounded-indicator bg-warning"></div>
                                                  </div>
                                                  <div class="content-wrapper">
                                                      <small class="name">Lewis Guzman</small>
                                                      <small class="content-text">Lorem ipsum dolor sit amet.</small>
                                                  </div>
                                              </div>-->
                </div>
                <!--                        <div class="dropdown-footer">
                                            <a href="#">View All</a>
                                        </div>-->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- partial -->
    <div class="page-body">
      <!-- partial:partials/_sidebar.html -->
      <div class="sidebar">
        <ul class="navigation-menu">
          <li class="nav-category-divider">MAIN</li>
          <li>
            <a href="../">
              <span class="link-title">Home</span>
              <i class="mdi mdi-gauge link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../rim">
              <span class="link-title">RIM</span>
              <i class="mdi mdi-flask link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../persector">
              <span class="link-title">RIM per Sector</span>
              <i class="mdi mdi-flask-empty-outline link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../trend" >
              <span class="link-title">Profit Verification</span>
              <i class="mdi mdi-bullseye link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../lowper">
              <span class="link-title">Low PER</span>
              <i class="mdi mdi-clipboard-outline link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../consensus">
              <span class="link-title">Consensus</span>
              <i class="mdi mdi-chart-donut link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../whobuy">
              <span class="link-title">Buy&Sell</span>
              <i class="mdi mdi-flower-tulip-outline link-icon"></i>
            </a>
          </li>
          <li>
            <a href="../faq">
              <span class="link-title">FAQ</span>
              <i class="mdi mdi-asterisk link-icon"></i>
            </a>
          </li>
          <br>

          <div class="grid-body">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- banner_left -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1491207752842955"
                 data-ad-slot="1380022907"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
<!--          <div class="grid-body">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-tTRasTdJ1TaBukMA"
                 data-ad-width   = "160"
                 data-ad-height  = "600"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
          </div>-->
<!--          <div class="sidebar-upgrade-banner"></div>
          <div class="grid-body">

            <div class="split-header">
              <p class="text-primary"><b>후원 및 기타문의</b></p>
            </div>
            <div class="item-wrapper" style="font-size: 12px;">
              <p class="text-gray">beyondstock@hotmail.com</p>
              <p class="text-gray">KB국민은행</p>
              <p class="text-gray">394402-04-400611</p>
            </div>
          </div>-->
        </ul>
      </div>
      <!-- partial -->
      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
<!--            <div class="row">
              <div class="col-lg-12">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-DUeVKOaEbWBkcsqO"
                     data-ad-width   = "320"
                     data-ad-height  = "100"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

              </div>
            </div>-->
            <div class="row">
              <div class="col-lg-12">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- header1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1491207752842955"
                     data-ad-slot="2223165437"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
            </div>

              <div class="row">
                <div class="col-lg-12">

                <div class="grid">
                  <div class="grid-body">
                    <h2 class="grid-title">RIM(Residual Income Model)</h2>
                    <div class="item-wrapper" style="font-size: 12px;">
                      <p>사경인 회계사님의 "재무제표 모르면 주식투자 절대로 하지 마라"에 소개된 기업의 적정주가를 구하는 절대평가 모델 S-RIM을 활용하여 각 기업의 예상 RIM band를 산정합니다.</p>
                      <p>fnguide의 재무재표를 참고하며 예측 값이 존재하면 해당 값을 적용하고 존재하지 않으면 직전 4분기의 값을 기준으로 평가합니다.</p>
                      <p>RANKING의 의미는 각각의 상대적 지표(PER, PBR 등)에 등수를 매긴 후 합산하여 높은 등수부터 정렬하는 마법공식을 채택하였고, 2천여 개의 상장사 중 100개의 상대적 저평가 종목을 제공하고 있습니다.</p>
                      <p>본 Page를 통해서 평소 관심을 갖고 있는 종목이 저평가의 영역에 들어왔는지 확인하면 매수 타이밍을 판단하는 데 도움이 될 수 있습니다.</p>
                      <p>단 자체사업을 갖고 있지 않은 지주사나 홀딩스 같은 종목들은 주가 탄력성이 떨어지기 때문에 투자할 때 주의하셔야 하고 ROE가 8 이하는 제외합니다.</p>
                    </div>
                      <br>
                    <div class="item-wrapper" style="font-size: 13px;">

                    <p>We calculate the expected RIM band of each company by using the absolute valuation model S-RIM that finds the fair value of a company introduced in “Never invest in stocks unless you know the financial statements” of accountant Sa Kyung-in.</p>
                      <p>The financial statements of fnguide are referenced, and if a forecast value exists, it is applied, and if it does not exist, it is evaluated based on the value of the previous 4 quarters.</p>
                      <p>The meaning of RANKING is a magic formula that ranks each relative index (PER, PBR, etc.) and then sums it up and sorts it from the highest rank, and provides 100 relatively undervalued stocks out of over 2,000 listed companies.</p>
                      <p>This page can help you determine when to buy, by checking whether the stock you are interested in has entered the undervalued area.</p>
                      <p>However, stocks that do not have their own business, such as holdings, have poor stock price elasticity, so be careful when investing, and ROEs of 8 or less are excluded.</p>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            <div class="row">
              <div class="col-lg-12">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- middle1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1491207752842955"
                     data-ad-slot="1383181896"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
            </div>
<!--            <div class="row">
              <div class="col-lg-12">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-5BMUl4W0U78VwNiS"
                     data-ad-width   = "320"
                     data-ad-height  = "100"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
              </div>
            </div>-->

              <div class="row">
                  <div class="col-lg-12">
                  <div class="grid">
                    <div class="grid-header">
                      <h6>RIM Recommendations</h6><span class="grid-title"><a href="../persector"><b>섹터별 조회 바로가기(Go to search by sector)</b></a></span>
                    </div>
                    <div class="item-wrapper">
                      <div class="table-responsive">
                        <table class="table info-table table-striped">
                          <thead>
                          <tr>
                            <th>No.</th>
                            <th>Code</th>
                            <th>종목명</th>
                            <th>현재가</th>
                            <th>PBR</th>
                            <th>PER</th>
<!--                            <th>PSR</th>-->
<!--                            <th>PCR</th>-->
                            <th>최종목표가</th>
                            <th>1차목표가</th>
                            <th>매수가</th>
                            <th>ROE</th>
                            <th>시총(억)</th>
                          </tr>
                          </thead>
                          <tbody id = 'get_q1'>
                          </tbody>
                        </table>
                        <div style="text-align: center;">
                            <span style="text-align: center; display: inline-block;">
                                <ul class="pagination" id="paging1"></ul>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--            <div class="row">
              <div class="col-lg-12">
                <ins class="kakao_ad_area" style="display:none;"
                     data-ad-unit    = "DAN-xUvlPPHjQXnmY3Dx"
                     data-ad-width   = "320"
                     data-ad-height  = "100"></ins>
                <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
              </div>
            </div>-->
            <div class="row">
              <div class="col-lg-12">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- tail1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1491207752842955"
                     data-ad-slot="7562287874"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
            </div>
          </div>
        </div>
        <!-- content viewport ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="row">

            <div class="col-sm-12 text-center text-sm-right mt-3 mt-sm-0">
              <small class="text-muted d-block">모든 투자에 대한 책임은 투자자 본인에게 있으며 본 페이지의 정보는 투자에 참고만 하시기 바랍니다. Copyright © 2020 All rights reserved</small>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- page content ends -->
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="../../resources/assets/vendors/js/core.js"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="../../resources/assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="../../resources/assets/vendors/chartjs/Chart.min.js"></script>
    <script src="../../resources/assets/js/charts/chartjs.addon.js"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="../../resources/assets/js/template.js"></script>
    <script src="../../resources/assets/js/dashboard.js"></script>
    <script src="../../resources/assets/js/rim_output.js"></script>
    <!-- endbuild -->
  </body>
</html>